//- https://ld-prestashop.template-help.com/prestashop_15325_v1/index.php?id_category=14&controller=category&id_lang=1&live_configurator&theme=&header_layout=6&top_layout=14&home_layout=10&footer_layout=2&product_info_layout=
<!DOCTYPE html>
html(lang="en")
	head
		title EVEPREST
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(href='bootstrap.min.css' rel='stylesheet' type='text/css')
		link(href='style.css' rel='stylesheet' type='text/css')
	body
		.container
			.row.m20-0
				.d-flex.m20-0.col-12.col-sm-12.col-xl-5
					.item_menu WOMEN
						div.angle-up
						div.test fgg
					.item_menu MEN
					.item_menu TEENS
					.item_menu KIDS
					.item_menu LOOKBOOK





	script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")
	script(src="jquery-3.2.1.slim.min.js")
	script(src="popper.min.js")
	script(src="bootstrap.min.js")
	//- script(src="script.js")