// fa-regular-400.ttf
@font-face 
	font-family 'fa'
	src url('font/fontawesome-webfont.woff2')
	font-weight normal
	font-style normal
@font-face 
	font-family 'fl'
	src url('font/fl-chapps.woff')
	font-weight normal
	font-style normal
.fa
	font-family 'fa'
	-webkit-font-smoothing antialiased
	display inline-block
	font-style normal
	font-variant normal
	text-rendering auto
	line-height 1
.fl:after
	font-family 'fl'
	font-size 1.125rem
	font-weight 400
.fl
	font-family 'fl'
	-webkit-font-smoothing antialiased
	display inline-block
	font-style normal
	font-variant normal
	text-rendering auto
	line-height 1
.db
	display block
body
	color #999

header
	align-items center
	
.logo
	height 40px
	
.m20-0
	margin 20px 0

.item_menu
	display flex
	margin-left 1.875rem
	font-weight 700
	font-size .8rem
	font-family Arimo, sans-serif
	position relative	

.item_menu:hover
	color #000000
	cursor pointer
	
.item_menu:first-child
	margin-left 0

.item_menu:hover .megaMenu
	visibility visible
	opacity 1

.megaMenu
	box-sizing border-box
	visibility hidden
	position absolute
	opacity .2	
	left 0
	top 100%
	margin-top 20px
	padding 30px
	transition all .3s ease-in-out
	box-shadow 0px 10px 30px 0px rgba(80,80,80,0.4)

.col_megaMenu
	min-width 120px
	margin-right 40px
	flex-grow 0
	h5
		color #bbb
		font-size 12px
	a
		text-decoration none
.col_megaMenu_img
	height 100%
	overflow hidden
	
.item_menu:hover .angle-up
	color #000
	transform rotate(-180deg)

.angle-up
	display inline-block
	transform-origin center
	transition all .3s ease-in-out
	margin 0 0 0 1em

.angle-up:after
	content "\F107"
	font-family 'fa'
	transform rotate(180deg)

.icon_user:after
	content "\E01C"
.icon_loop:after
	content "\E014"
.icon_love:after
	content "\E00B"
.icon_shop:after
	content "\E00A"
	
.fl:hover
	color #ea917d
	
.item_megaMenu
	display block
	margin 5px 0
	padding 3px
	font-weight 400
	color #888
.item_megaMenu:hover
	color #ea917d







